.navlogo{
  width: 3%;
}
.liri{
  border-right: 1px solid;
  padding: 10px;
}
.lili{
  padding: 10px;
}
.here{
  color: #3ab658;
}
.doc{
  color: #015c93;
}
.navbar-brand{
  color: #015c93;
}
.main{
  background-color: #FDF7FF;
  height: max-content;
  font-family: 'Montserrat', sans-serif;

}
.nvbg{
  background-color: #0e3052;
}
.navbar{
  background-color: #FDF7FF;
}
.pnkbtn{
  background-color: pink;
}

:hover.pnkbtn{
  background-color: pink;
}
.gifimg{
  mix-blend-mode: darken;
}
.ftr{
  background-color: #FDF7FF;
}
.ftnav{
  color: black;
}
.docsmain{
  background-color: #FDF7FF;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greenbtn{
  color: #FDF7FF;
  background-color: #3ab658;
}
:hover.greenbtn{
  color: #3ab658;
  border: 2px solid #3ab658;
}
.clrdrop{
  color: #FDF7FF;
  background-color: red;
}
select {
  font-family: 'fontAwesome';
  font-weight: 900;
}
.login{
  background-color: #FDF7FF;
  height: 110vh;
}
.login1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilebody{
  background-color: #FDF7FF;
  height: 100vh;
}
.userbody{
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #3ab658;
}
.profileholder{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 100%; 
    overflow: hidden; 
}
.profileholder > div {
  max-width: 100%; 
}

.searchresults {
  background-color: lightcyan;
  max-height: 300px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 10px; 
  border-radius: 5px; 
}

.searchresults > div {
  margin-bottom: 15px; 
}

.searchresults h3 {
  margin-top: 0; 
  position: relative;
}
.searchresults h3 span {
  font-size: 14px;
  color: #666; 
  position: absolute;
  right: 0;
  margin-right: 25%; 
  font-weight: normal; 
  color: #3ab658;
}

.searchresults p {
  margin-bottom: 5px; 
}


/* media  */
@media (max-width: 600px){
  .navlogo{
    width: 15%;
  }
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .profileholder p {
    font-size: 20px; /* Reduce font size for smaller screens */
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 576px) {
  .profileholder p {
    font-size: 12px; /* Further reduce font size for very small screens */
  }
}